body{
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    margin: 0;
    height: 100vh;
    
}
.login_principal{
    margin: 150px auto;
    border-radius: 10px;
    color:white;
    width: 350px;
    height: 380px;
    padding-top: 15px;
    padding-bottom: 1px;
    background: #333;
    text-align: center;
}

.login_entrar{
    margin: 0 auto;
    height: 35px;
    width: 100px;
    background: #242323;
    border: 1px solid white;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
}
.login_entrar:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;

}
input#usuario, input#senha{
    border: none;
    border-radius: 15px;
    width: 250px;
    height: 30px;
}
