.body_cadastro{

}
.main_cadastro {
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.label_cadastro {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.cadastro_input {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14pt;
    color: #333;
}

.btn_form_cadastro{
    width: 35%;
    padding: 12px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.loader {
    border: 8px solid #f3f3f3; /* Cor do fundo */
    border-top: 8px solid #3498db; /* Cor da borda superior */
    border-radius: 50%;
    width: 60px; /* Largura do loader */
    height: 60px; /* Altura do loader */
    animation: spin 1s linear infinite; /* Animação */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilo oculto para o loader */
.hidden {
    display: none;
}

.btn_form_cadastro:hover{
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
