
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*---------------------------------------------------------------------------ÍNICIO INDEX---------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    height: 100%;
    width: 100%;
}
.nav_index{
    margin: 0 auto;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    max-width: 500px;
}
.nav_index ul {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
}

.nav_index li {
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaço entre os itens */
}

.nav_index a {
    height: 100%;
    cursor: pointer;
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}

.nav_index a:hover {
    text-decoration: none;
}

.main{
    width: 70%;
    height: 80%;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ---------------------------------------------------------------------------FIM INDEX-----------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------------------------------------------------ÍNICIO CADASTRO-------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.body_cadastro{

}
.main_cadastro {
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.label_cadastro {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.cadastro_input {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14pt;
    color: #333;
}

.btn_form_cadastro{
    width: 35%;
    padding: 12px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.loader {
    border: 8px solid #f3f3f3; /* Cor do fundo */
    border-top: 8px solid #3498db; /* Cor da borda superior */
    border-radius: 50%;
    width: 60px; /* Largura do loader */
    height: 60px; /* Altura do loader */
    animation: spin 1s linear infinite; /* Animação */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilo oculto para o loader */
.hidden {
    display: none;
}

.btn_form_cadastro:hover{
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* --------------------------------------------------------------------------FIM CADASTRO---------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/





/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------------------------------------------------INÍCIO DADOS----------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.table_dados{
    text-align: center;
    margin: 0 auto;
    border:transparent;
}
.table_dados td{
    border: none;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*----------------------------------------------------------------------------FIM DADOS-----------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*-------------------------------------------------------------------------INÍCIO USUARIOS----------------------------/----------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.body_usuario{
}
.loading {
    display: none; /* Oculto por padrão */
    text-align: center;
    margin-top: 10px;
}

.loading span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.busca_usuario{
    border: 10px solid black;
    padding: 0;
    width: 13%;
    height: 45px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}
.busca_usuario {
    border-radius: 8px;
    display: flex;
    height: 40px;
    align-items: center;
    width: 14%; /* Define a largura do formulário */
}

#busca {
    height: 40px;
    flex: 1; /* Expande o input para ocupar o espaço restante */
    border-left: none;
    background: white;
    box-sizing: border-box; /* Garante que padding e bordas estejam inclusos na largura total */
}

.btn_buscar {
    height: 40px;
    width: 40px; /* Define a largura fixa do botão para mantê-lo quadrado */
    padding: 0;
    border: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.table_usuarios{
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
.table_usuarios tr{
    height: 60px;
}
.tr_usuarios{
    display: block;
}
.tr_busca{
    display: none;
}
.table_usuarios th, td{
    border: 1px solid black;
}
.table_usuarios thead{
    text-align: center;
    background: black;
    color: white;
    height: 60px;
    font-size: 15pt;
}
.table_usuarios tfoot{
    height: 100px;
}
.add_usuario {
    display: grid;
    grid-template-columns: repeat(8, 2fr); /* 7 colunas de tamanho igual */
    gap: 5px; /* Ajuste o espaçamento entre elementos */
}
.nome_add, .email_add, .usuario_add, .telefone_add, .senha_add {
    width: 250px;
    height: 30px;
}