body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(rgb(4, 4, 190),black);
    margin: 0;
    height: 100vh;
    
}
.login_principal{
    margin: 150px auto;
    border-radius: 10px;
    color:white;
    width: 350px;
    height: 430px;
    padding-top: 15px;
    padding-bottom: 1px;
    background: linear-gradient(rgb(14, 141, 226), rgb(3, 3, 124));
    box-shadow: 2px 2px 4px 2px rgb(3, 3, 124);
    text-align: center;
}

.login_entrar{
    height: 40px;
    width: 100px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 3px ;
    font-size: 15pt;
}
.login_entrar:hover{
    background: white;
    color: black;
    transition: 0.5s;

}
input#usuario, input#senha{
    border: none;
    border-radius: 15px;
    width: 250px;
    height: 30px;
}
